<h2>Reporter output</h2><table><tr><td>Test case testEasy Starts Now</td></tr>
<tr><td>Step 1. Verify the title of Page : Successfully verified the Title Of the Page And It isSTARZ PLAY | Watch Featured Movies and Original Series</td></tr>
<tr><td>Test Log Report</td></tr>
</table>